<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">

    body {
    {#        padding-top: 12%;#}
    }

    .modal table {
        table-layout: fixed;
    }

    td {
        word-wrap: break-word;
    }

    .menu-section {
        text-align: center;
        background: #F0F8FF;
        border-right: 3px solid #F0FFFF;
        /*box-shadow: inset 0 0 10px black, 0 0 10px black;*/
    }

    .tuple-pair-buttons-div {
        text-align: center;
        margin-bottom: 10px;
    }

    .tuple-pair-buttons-div button {
        margin-bottom: 10px;
    }

    .table {
        margin-bottom: 2px;
        /*over-riding bootstrap's margin-bottom*/
    }

    .Yes {
        background-color: rgba(76, 175, 80, 0.3);
    }

    .Not-Sure {
        background-color: #fcf8e3;
    }

    .Not-Labeled {
        background-color: rgba(158, 158, 158, 0.3);
    }

    .Not-Matched {
        background-color: #f2dede;
    }

    .pagination {
        margin: 3px;
        float: right;
    }

    .btn-danger {
        background-color: rgba(200, 83, 79, 0.85);
    }

    .tuple-pair-div {
        margin-top: 5%;
    }

    .show-tuple-pair td {
        word-wrap: break-word;
    }

    .layout-buttons button {
        width: auto;
        text-overflow: clip;
        margin-left: auto;
        margin-right: auto;
    }

    #menu-row {
        display: table;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #next-page-btn {
        float: right;
    }

    #filter-pane {
        display: table-cell;
        float: none;
    }

    #filter-pane button {
        width: auto;
        float: left;
    }

    #select-display-pane {
        display: table-cell;
        float: none;
    }

    #attribute-display-pane {
        display: table-cell;
        float: none;
    }

    #misc-options-pane {
        display: table-cell;
        float: none;
    }

    #checkbox-div {
        height: 78%;
        overflow: hidden;
        padding-bottom: 40px;
        overflow-y: auto;
        text-align: left;
    }

    #attribute-display-button #clear-attribute-display-button {
        float: right;
        margin-top: 5%;
        width: 50%;
    }

    #options-change-button {
        float: right;
        margin-top: 1%;
        width: 100%;
    }

    #content-row {
        margin-bottom: 50px;
    }

    #pagination-div {
        background-color: rgba(23, 27, 23, 0.5);
        color: #f7f7f7;
        padding-top: 0px;
        border: 1px solid;
    }

    #save-button {
        float: left;
        width: 100%;
    }

</style>
