<div class="navbar-fixed-bottom" id="pagination-div">
    {% set start_page_number = start_page_number + 1 %}
    {% set end_page_number = end_page_number + 1 %}
    {% set current_page = current_page + 1 %}

    <ul class="pagination pagination-sm">
        {% if current_page > 1 %}
            <li><a href="#" onclick="change_page({{ current_page-2 }})"> < prev </a></li>
        {% endif %}
        {% for i in range(start_page_number, end_page_number) %}
            {% if current_page == i %}
                <li class="active"><a href="#" onclick="change_page({{ i-1 }})">{{ i }}</a></li>
            {% else %}
                <li><a href="#" onclick="change_page({{ i-1 }})">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if current_page < number_of_pages-3 %}
            <li><a href="#" onclick="change_page({{ current_page }})"> next > </a></li>
        {% endif %}
    </ul>

    <div id="pagination_info_text">
        <p>showing 1 page out of {{ number_of_pages }}</p>
    </div>

</div>